!!!
:css
    #mainPopup {
        padding: 10px;
        height: 200px;
        width: 400px;
        font-family: Helvetica, Ubuntu, Arial, sans-serif;
    }
    h1 {
        font-size: 2em;
    }

%div#mainPopup
    %h1 SendLink
    %p Nothing yet...
